$transitionTime: .15s;
$menuWidth: 300px;
$topMenuHeight:45px;
$boxShadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.05);

html,body{
    margin: 0;
    font-family: Arial;
}
*::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
  } 
*::-webkit-scrollbar-thumb {
border-radius: 5px;
background-color: var(--secondary-color);
border: 1px solid transparent;
}
.Icon{
    display: inline;
    .maincolor-stroke{
        stroke: var(--text-color);
    }
    .maincolor-fill{
        fill: var(--text-color);
    }
    .background-stroke{
        stroke: var(--menu-backcolor);
    }
}
.Page{
    --main-color:rgb(3,97,236);
    --background-gradient:radial-gradient(122.33% 114.92% at -22.33% 77%, var(--main-color) 0%, rgb(20, 171, 243) 100%);
    --secondary-color:rgb(163 163 163);
    --menu-backcolor:rgb(254,254,254);
    --stack-background:rgb(238,238,238);
    --text-color:rgb(26, 26, 26);
    --paper-backcolor:var(--menu-backcolor);

    color: var(--text-color);
}
.Page.dark{
    --main-color: rgb(236, 207, 3);
    --menu-backcolor: rgb(34 34 34);
    --stack-background: rgb(76 76 76);
    --text-color: rgb(199 199 199);
}
.Sidemenu,.Topmenu{
    position: fixed;
    box-shadow: $boxShadow;
    z-index: 1000;
}
.Sidemenu{
    height: 100vh;
    width: $menuWidth;
    background-color: var(--menu-backcolor);
    z-index: 1200;
    .tabs{
        width: 100%;
        height: $topMenuHeight;
        display: flex;
        .Tab{
            flex: 30;
            display: inherit;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            span{
                font-weight: 600;
                text-transform:capitalize;
                // text-transform:uppercase;
                font-size: 11pt;
            }
            transition: all $transitionTime;
            &.active{
                border-bottom: 2px solid var(--main-color);
                color:var(--main-color);
            }
            &:hover{
                color:var(--main-color)
            }
        }
    }
    .menuitems{
        $sideMenuItemsMargin:10px;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        overflow-y: auto;
        height: calc(100% - 86px);
        align-content: flex-start;
        .blockNavigator{
            height: min-content;
            display: flex;
            width: calc(100% - #{$sideMenuItemsMargin});
            align-items: center;
            justify-content: flex-start;
            margin-left: #{$sideMenuItemsMargin};
            color: var(--secondary-color);
            flex-wrap: wrap;
            .blockName{
                width: 100%;
            }
            .blockParent{
                width: 100%;
            }
            .blockNeigbor{
                width: 100%;
            }
            .blockChildren{
                width: 100%;
            }
            .blockLink{
                text-decoration: underline;
                cursor: pointer;
                margin: 0 3px;
            }
        }
        .Menuitem{
            height: 40px;
            display: flex;
            width: min-content;
            align-items: center;
            justify-content: flex-start;
            margin-left: #{$sideMenuItemsMargin};
            &.textarea{
                width: calc(100% - #{$sideMenuItemsMargin} - #{$sideMenuItemsMargin});
                height: min-content;
                margin-top: 7px;
            }
            .textarea{
                resize: none;
                height: 6em;
                width: 100%;
            }
            input,select,textarea,button{
                padding:4px 5px;
                background: var(--stack-background);
                color: var( --text-color);
                border-radius: 2px;
                border: 1px solid transparent;
                font-family: inherit;
                &:focus{
                    outline-color: var(--main-color);
                    outline-width: 1px;
                }
            }

            input.size{
                width: 5em;
            }
            .color{
                -webkit-appearance: none;
                // border-radius: 2px;
                // width: 32px;
                // height: 32px;
                &::-webkit-color-swatch-wrapper {
                    padding: 0;
                }
                &::-webkit-color-swatch {
                    border: none;
                }
            }
            button{
                padding: 6px 8px;
                display: flex;
                align-items: center;
                span{
                    width: max-content;
                    margin: 0 .5em;
                    transition: none;
                }
                &:hover{
                    cursor: pointer;
                    color: var(--main-color);
                    .maincolor-stroke{
                        transition: all $transitionTime;
                        stroke: var(--main-color);
                    }
                }
                &.primary{
                    color: var(--menu-backcolor);
                    border-color: var(--menu-color);
                    background: var(--background-gradient);
                    font-size: 110%;
                    .maincolor-stroke{
                        stroke: var(--menu-backcolor);
                    }
                }
            }
            &.file{
                width: max-content;
                .fileinput{
                    display: flex;
                    align-items: center;
                    padding: 6px 8px;
                    background: var(--background-gradient);
                    color: var(--menu-backcolor);
                    border-radius: 2px;
                    // border: 1px solid var(--main-color);
                    .maincolor-stroke{
                        stroke: var(--menu-backcolor);
                    }
                    &:hover{
                        cursor: pointer;
                    }
                    span{
                        margin: 0 .5em;
                    }
                }
            }

            
        }  
        .spacer{
            width: calc(100% - #{$sideMenuItemsMargin} - #{$sideMenuItemsMargin});
            height: 1em;
            display: block;
            margin: 1em #{$sideMenuItemsMargin} 0 #{$sideMenuItemsMargin};
            color: var(--secondary-color);
        }      
    }
}
// for slow theme changing
.Topmenu,.Sidemenu,.Stack{
    $stt: $transitionTime;//slow trans time
    $stf: ease-in;//slow trans function
    transition: background-color $stt $stf;
    *{
        transition: background-color $stt $stf, color $stt $stf,fill $stt $stf,stroke $stt $stf;    
    }
}
.Topmenu{
    height: $topMenuHeight;
    width: calc(100% - #{$menuWidth});
    left: $menuWidth;
    background-color: var(--menu-backcolor);
    position: fixed;
    display: flex;
    justify-content: space-between;
    .templateTools,.appTools{
       display: flex; 
    }
    .Topbutton{
        height: $topMenuHeight;
        width: $topMenuHeight;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            cursor: pointer;
            
            .maincolor-stroke{
                stroke: var(--main-color);
            }
            .maincolor-fill{
                fill: var(--main-color);
            }
            .topbutton-language{
                color:var(--main-color);
            }
        }
        &.disabled{
            cursor: default;
            .maincolor-stroke{
                stroke: var(--secondary-color);
            }
            .maincolor-fill{
                fill: var(--secondary-color);
            }
            .topbutton-language{
                color:var(--secondary-color);
            }
        }
        .topbutton-language{
            font-weight: 600;
            text-transform:capitalize;
        } 
        label{
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.Stack{
    background-color: var(--stack-background);
    width: calc(100% - #{$menuWidth});
    height: calc(100vh - #{$topMenuHeight});
    top:$topMenuHeight;
    left:$menuWidth;
    position: fixed;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    //TODO somehow center pages list but on big scale align left
    //TODO align last line of pages to the left
    justify-content: flex-start;//not space-evenely because on big zoom works badly
    align-content: flex-start;
    color: var(--text-color);
    &:focus{
    outline-color: var(--main-color);
    }
    .stackPlaceholder{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .PageWrapper{
        transition: all $transitionTime;
        height: var(--page-wrapper-height);
        width: var(--page-wrapper-width);
        min-width: var(--page-wrapper-width);
        margin-top: calc(1cm * var(--zoom));
        margin-left: calc(1cm * var(--zoom) );
        overflow: hidden;
        box-shadow: $boxShadow;
    }
    .PageInner{
        width: calc(100% - var(--page-margin-left) - var(--page-margin-right));
        height: calc(100% - var(--page-margin-top) - var(--page-margin-bottom));
        padding-left: var(--page-margin-left);
        padding-right: var(--page-margin-right);
        padding-top: var(--page-margin-top);
        padding-bottom: var(--page-margin-bottom);
        background-color: var(--paper-backcolor);
        // word-break: break-all;
        font-size: calc(20px * var(--zoom));
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        .Block{
            transition: none;
            --block-border:1px dashed transparent;
            --selected-border:1px dashed var(--main-color);
            // VARIABLES
            outline: var(--block-border);
            width:calc(var(--block-width) - var(--block-marginLeft) - var(--block-marginRight));
            height:calc(var(--block-height) - var(--block-marginTop) - var(--block-marginBottom));
            padding-top: var(--block-marginTop);
            padding-bottom: var(--block-marginBottom);
            padding-left: var(--block-marginLeft);
            padding-right: var(--block-marginRight);
            
            align-content: inherit;
            justify-content: inherit;
            text-align: inherit;
            display: inherit;
            align-content: var(--block-align);
            justify-content: var(--block-justify);
            text-align: var(--block-justify);
            display: var(--block-display);
            flex-wrap: wrap;
            word-break: break-word;


            font-family: inherit;
            font-size: inherit;
            color: inherit;
            background-color: inherit;
            font-weight: inherit;
            font-style: inherit;
            text-decoration: inherit;
            font-family: var(--block-fontFamily);
            font-size: var(--block-fontSize);
            color: var(--block-fontColor);
            background-color: var(--block-backgroundColor);
            font-weight: var(--block-fontBold);
            font-style: var(--block-fontItalic);
            text-decoration: var(--block-fontUnderline);
            &:focus{
                --block-border:1px dashed var(--secondary-color);
            }
            &:hover{
                --block-border:1px dashed var(--secondary-color);
            }
            p{
                margin: 0;
                display: inherit;
                width: 100%;
                align-content: inherit;
                justify-content: inherit;
            }
        }
    }
}
@media print{
    @page {
        size: auto;
        margin: 0;
    }
    .Page.dark{
        --main-color:rgb(3,97,236);
        --background-gradient:radial-gradient(122.33% 114.92% at -22.33% 77%, var(--main-color) 0%, rgb(20, 171, 243) 100%);
        --secondary-color:rgb(163 163 163);
        --menu-backcolor:rgb(254,254,254);
        --stack-background:rgb(238,238,238);
        --text-color:rgb(26, 26, 26);
        --paper-backcolor:var(--menu-backcolor);
        color: var(--text-color);
    }
    .Sidemenu{
        display: none;
    }
    .Topmenu{
        display: none;
    }
    .Stack{
        --zoom:1 !important;
        width: var(--page-wrapper-width) !important;
        top:0;
        left:0;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        .PageWrapper{
            margin: 0;
        }
    }
}